---
- name: Restart redis
  ansible.builtin.systemd_service:
    name: redis-server
    state: restarted
- name: Reload redis
  ansible.builtin.systemd_service:
    name: redis-server
    state: reloaded
